*{
    box-sizing: border-box;
      font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
        /*HEADER*/
header{
        /*tipografia*/
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
        /*posición*/
    height: 100px;
    background-color: #1E172D;
    display: flex;
    justify-content: center;
    align-items: center;
}nav{
    display: flex;
    gap: 30px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-items: center;

}nav a{
    transition: all 0.3s ease;
    color: #987AE3;
    font-size: 20px;
    text-decoration: none;
}body{
    background-color: #241C37;
    text-align: center;

}.header{
    display: flex;
    justify-content: center;
    gap: 500px;

}nav a:hover{
    transform: translateY(-5px) scale(120%) ;
    color: #4A3970;
}
button{
    border: none;
    border-radius: 10px;
    background-color: #2F2448;
    text-align: center;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.8s ease;
}button:hover{
    background-color: #987AE3;
    transform: scale(1.1) translateY(-10px);
}
footer{
    height: 100px;
    background-color: #1E172D;
    padding: 5px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}